<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>ja</string>
    <key>CFBundleDisplayName</key>
    <string>Byters</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>jp.byters.app</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Byters</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>4</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>LaunchScreenBackground</string>
    </dict>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>NSCameraUsageDescription</key>
    <string>QRコードをスキャンして出勤打刻を行うためにカメラを使用します</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>出勤場所の確認のために位置情報を使用します</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>プロフィール画像や本人確認書類をアップロードするために写真ライブラリを使用します</string>
    <key>NSFaceIDUsageDescription</key>
    <string>安全なログインのためにFace IDを使用します</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>チャットで音声メッセージを送信するためにマイクを使用します</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>StripePublishableKey</key>
    <string>$(STRIPE_PUBLISHABLE_KEY)</string>
    <key>APIBaseURL</key>
    <string>$(API_BASE_URL)</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>jp.byters.app</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>byters</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
